:root {
  --background-color1: #036151;
  --background-color2: #0f9684;
  --background-color3: #0c443b;
  --text-color: #fff5e1;
  --text-color2: var(--background-color2);
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav-bar {
  background-color: var(--background-color2);
  display: flex;
  position: fixed;
  padding: 10px 30px;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  color: var(--text-color);
  top: 0;
}
ul {
  font: 0.8em Arial;
  font-weight: 600;
  font-size: 1.12rem;
  display: flex;
  align-items: center;
  text-align: center;
}
li {
  margin: 11px;
}
#welcome-section {
  background-color: var(--background-color3);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 60px;
}
p {
  font-size: 40px;
  color: var(--text-color2);
}
#work {
  background-color: var(--background-color1);
  text-align: center;
  padding: 80px 20px;
}
h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
}

.grid-items .more {
  height: 400px;
  margin: 5px;
  background-color: var(--background-color3);
}

.text {
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  margin-top: 20px;
}
.grid-items a {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

a > img {
  max-width: 100%;
  height: 80%;
}

.showBtn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
.showBtn:hover {
  background-color: #80b8b0;
}
.more {
  display: none;
}
.more2 {
  display: flex;
}
#media {
  background-color: var(--background-color3);
  width: 100%;
  height: 300px;
  text-align: center;
  margin: auto;
  align-content: center;
}
h3 {
  font-size: 40px;
  color: var(--text-color);
}
.coffee {
  font-size: 30px;
}
i {
  margin-right: 10px;
}
.social-media {
  display: flex;
  padding-top: 30px;
  font-size: 15px;
  color: var(--text-color);
  justify-content: center;
}

.social-info {
  display: flex;
  font-size: 13px;
}
.grid-items:hover {
  transform: scale(1.1);
}
.social-info:hover {
  padding-top: 10px;
}

hr {
  background-color: var(--background-color2);
  width: 100%;
  height: 5px;
  border: none;
}
#footer {
  background-color: var(--background-color3);
  color: var(--text-color);
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.text:hover::before {
  content: "< ";
  color: var(--background-color1);
  font-weight: 600;
}
.text:hover::after {
  content: " />";
  color: var(--background-color1);
  font-weight: 1000;
}
@media (max-width <= 1080px) {
  #welcome-section,
  #projects,
  #work {
    max-width: 100%;
  }
}

@media (max-width: 100px) {
  .social-media,
  .social-info {
    font-size: 10px;
  }
  #footer {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .grid-container {
    display: block;
    align-content: center;
  }

  .grid-items {
    width: 250px;
    margin: 20px auto;
  }
}
@media (max-width: 375px) {
  .social-info {
    display: grid;
  }
}

@media (width <= 500) {
  ul {
    font-size: 15px;
  }
}
